html, body {
    
    color: #eee;
    background: #303030;       
    font-family: 'Segoe UI',Geneva,sans-serif;
    font-size: 16px;    
    
    height: 100%;    
       
    line-height: 1.45em;
    padding: 5px 20px 5px 17px !important;
    margin: 0;

    scrollbar-track-color: #535353;
    scrollbar-arrow-color: silver;
    scrollbar-face-color: #555;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;    
} 
a {
    font-weight: bold;
    color: #80a3c1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    background: #666666 !important;
    color: #fcfcfc !important;   
    
    font-size: 1.1em;
    padding: 10px;
    margin: 30px 10px;
    border-left: 6px #ddd solid; 
}
@media(min-width: 970px){
    html,body{
        font-size: 1.1em;
    }
}
pre {
    font-family: menlo,consolas,monospace;
    font-weight: normal;    
    font-size: 1em;
    margin: 7px 10px;
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: auto;    
    max-width: 98%;
    white-space:  pre;
    word-break: normal;
    word-wrap: normal;    
}
pre code {
    white-space: pre;    
}
code {
    color: #eee;
    background: #555;
    
    padding: 2px 5px;
    font-weight: bold;
    border-radius: 2px;
}
    
h1,h2,h3,h4,h5,h6, .byline,.content-title {
  color: #888;
  font-weight: bold;  
  font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
h1 {
    font-size: 1.8em
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.3em
}
h4 {
    font-size: 1.1em
}
h5, h6 { 
    font-size: 1em;
}
pre {
    font-family: menlo,consolas,monospace;
    font-weight: normal;    
    font-size: 0.875em;
    margin: 7px 0;
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: auto;    
    max-width: 98%;
}
img {
	max-width: 100%;
}
blockquote {
    background: #777;
    color: #EEE;
    
    font-size: 1.1em;
    padding: 10px;
    margin: 30px 10px;
    border-left: 6px #ddd solid;
}
blockquote h3, blockquote h4, blockquote h5 {
    margin-top: 5px;
}
hr{
    margin: 12px 0;    
}
/* hidden display, but still part of document flow */
.hidden {
    display: none;
}
.hidden-nowidth {
    width: 0;    
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

@media(min-width: 970px){
    html,body{
        font-size: 1.09em;
    }
}