<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net462" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net462" />
  <package id="Markdig" version="0.15.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Westwind.Utilities" version="3.0.20.7" targetFramework="net462" />
</packages>