html, body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 1.5em;
    margin: 0;
    scrollbar-track-color: Whitesmoke;
    scrollbar-arrow-color: silver;
    scrollbar-base-color: #ddd;
    scrollbar-face-color: #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
}

#MainContent {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6, .byline, .content-title {
    /*font-family: Trebuchet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-weight: 600;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.7em;
    padding-bottom: 10px;
    color: steelblue;
    border-bottom: 1px solid #eee;
}

h2 {
    color: Steelblue;
    font-size: 1.45em;
}

h3 {
    color: steelblue;
    font-size: 1.3em;
}

h4 {
    color: #555;
    font-size: 1.1em;
}

h5, h6 {
    color: #676767;
    font-size: 1em;
}

table {
    margin: 20px 0;
}

th, td {
    padding: 5px 9px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
}

th {
    background: #eee
}

p {
    margin: 10px 0 10px 0;
}

a {
    font-weight: 600;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: disc;
    margin: 1.6em 0;
}

li {
    margin: 0.7em 0.2em 0.7em 1.2em;
}

b, strong {
    font-weight: 600;
}



/* hidden display, but still part of document flow */
.hidden {
    display: none;
}

.hidden-nowidth {
    width: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


@media(min-width: 1080px) {
    html, body {
        font-size: 1.06em;
    }
}


blockquote {
    background: #f9f9f9;
    font-size: 1em;
    opacity: 0.85;
    padding: 10px 20px;
    margin: 30px 20px;
    border-left: 4px #ddd solid;
}

    blockquote h3, blockquote h4, blockquote h5 {
        margin-top: 0;
    }

hr {
    margin: 12px 0;
}

.figure .caption, figure figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
}

code {
    background: #eee;
    color: #555;
    padding: 2px 5px;
    font-weight: 600;
    font-family: consolas,monospace;
    border-radius: 3px;
}

pre {
    font-family: consolas,monospace;
    font-size: 0.875em !important;
    font-weight: normal;
    line-height: 1.45;
    background: #333;
    color: #eee;
    overflow-x: auto;
    margin: 7px 0 !important;
    padding: 0;
    border: 1px solid silver;
    border-radius: 4px;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

    pre code {
        white-space: pre;
        color: #f5f5f5 !important;
        font-weight: normal;
        padding: 0.8em !important;
    }

table {
    width: 100%;
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 15px 0;
    border-color: gray;
}

td, th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    display: table-cell;
    vertical-align: top;
}

th {
    font-weight: bold;
    color: white;
    background: #444;
}

tbody > tr:nth-child(even) {
    background: #eee;
}

.line-highlight {
    background: #e9f5ff !important;
}

p.line-highlight, h1.line-highlight, h2.line-highlight, h3.line-highlight, h4.line-highlight {
    border-radius: 4px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

code.line-highlight {
    background: #555 !important;
}

/* hidden display, but still part of document flow */
.hidden {
    display: none;
}

.hidden-nowidth {
    width: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.line-highlight {
    background: #f5f5f5;
    border-radius: 3px;
}

@media(min-width: 1080px) {
    html, body {
        font-size: 1.06em;
    }
}
