Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.tmp
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
.vs
.idea
*.lib
*.sbr
*.nupkg
ProductionInstall*.xml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages*/
_preview.html
node_modules/

WebEssentials-Settings.json
InstallerFiles/FilesToInstall/AppData/Html/_preview.json
/Install/Builds

.vscode
.idea
PrecompiledWeb/

/MarkdownMonster.sln.DotSettings
/Install/Builds/CurrentRelease/MarkdownMonsterSetup.exe
/Install/Distribution
/Install/West Wind Markdown Monster
/Install/Builds/CurrentRelease/MarkdownMonster_Version.xml
/Install/West Wind Markdown Monster.iw9
Output-Build.txt
__README.htm
__Todo.htm
MarkdownMonsterWeb/website.publishproj
MarkdownMonsterWeb/App_Data/PublishProfiles/Markdown Monster Web Site.pubxml
MarkdownMonsterWeb/BugReport/telemetry.txt
MarkdownMonster/Editor/scripts/Ace/theme-twilight - Copy.js
/Install/Chocolatey/push.ps1
/Install/Chocolatey.Portable/tools
/MediumApi.websurge
/mm.vshost.exe.config
/mm.vshost.exe.manifest
/Tests/WeblogAddin.Test/apikey.txt
{6AB5E445-9660-454B-BF02-506000EED978}
MarkdownMonster/Editor/fileicons/sql.svg
