source https://nuget.org/api/v2
framework >= net45

nuget JetBrains.dotMemoryUnit 2.2.20160412.92019
nuget Westwind.Utilities 2.67.2
nuget Newtonsoft.Json 8.0.3
nuget CommonMark.NET 0.12.0
nuget Dragablz 0.0.3.162
nuget FontAwesome.WPF 4.5.0.8
nuget HtmlAgilityPack 1.4.9
nuget MahApps.Metro 1.2.4
nuget NHunspell 1.2.5554.16953
