html, body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Apple Color Emoji";
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.55;
  margin: 0;
  scrollbar-track-color: Whitesmoke;
  scrollbar-arrow-color: silver;
  scrollbar-base-color: #ddd;
  scrollbar-face-color: #ddd;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #444;
}

body::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 3px;
} 

#MainContent {
  margin: 20px 20px 20px 30px;
}


h1, h2, h3, h4, h5, h6, .byline, .content-title {
  color: #555;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

h1 {
  font-size: 1.9em;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

h2 {
  font-size: 1.55em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.18em;
}

h5, h6 {
  color: #656565;
  font-size: 1.09em;
}

h6 {
  color: #777;
  font-size: 1.03em;
}



p {
  margin: 0.5rem 0 1rem 0;
}

a {
  font-weight: 600;
  color: #337ab7;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

img {
  max-width: 100%;
}

ul, ol {
  margin: 1.1em 0;
}

li {
  margin: 0.6em 0.2em 0.6em 1em;
}

ul > li > ul > li > ul > li {
  list-style: disc;
}

ul > li > ul > li {
  list-style: square;
}

.task-list-item {
  list-style: none;
  margin-left: -2em;
}
/* definition lists can be toggled*/
dt {
  font-size: 1.08em;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 0.5em;
  cursor: pointer;
}

dd {
  margin: 0;
  padding: 0 0 0.2em 1em;
  display: none;
}

b, strong {
  font-weight: 600;
}

dt {
  font-size: 1.08em;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 0.5em;
}

dd {
  margin: 0;
  padding: 0 0 0.2em 1em;
}


/* hidden display, but still part of document flow */
.hidden {
  display: none;
}

.hidden-nowidth {
  width: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


@media(min-width: 1080px) {
  html, body {
    font-size: 1.06em;
  }
}



blockquote {
  background: #f5f5f5;
  color: #656565;
  border-left: 8px #aaa solid;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 30px 20px;
  font-size: 1.03em;
}

  blockquote *:first-child {
    margin-top: 0;
  }

  blockquote *:last-child {
    margin-bottom: 0;
  }

hr {
  margin: 12px 0;
}

.figure .caption, figure figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}

code {
  padding: 2px 5px;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  border-radius: 3px;
  font-weight: 600;
  background: #eee;
  color: #555;
}

pre {
  font-family: menlo,consolas,monospace;
  font-weight: normal;
  font-size: 87%;
  line-height: 1.40;
  margin: 7px 0;
  padding: 0;
  border: 1px solid silver;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 98%;

  white-space: pre; /* pre-line if you want to wrap*/

  /* handles non-formatted code snippets, but won't work with light syntax */
  /* background: #252525;
  color: #eee; */
}

  pre > code {
    white-space: pre;
    padding: 0.8em !important;
    display: block;
    font-weight: normal;

    white-space: pre; /* pre-line if you want to wrap*/

    /* handles non-formatted code snippets, but won't work with light syntax */
    /* background: transparent;
    color: #f5f5f5 !important;   */
  }
  pre > code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #444;
  }

  pre > code::-webkit-scrollbar-thumb {
    background: #999;
  }
table {
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 15px 0;
  border-color: gray;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px 13px;
  display: table-cell;
  vertical-align: top;
}

th {
  font-weight: bold;
  color: white;
  background: #555;
}

tbody > tr:nth-child(even) {
  background: #eee;
}

.line-highlight {
  background: #e9f5ff !important;
}

p.line-highlight, h1.line-highlight, h2.line-highlight, h3.line-highlight, h4.line-highlight {
  border-radius: 4px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

code.line-highlight {
  background: #555 !important;
}



/* hidden display, but still part of document flow */
.hidden {
  display: none;
}

.hidden-nowidth {
  width: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.line-highlight {
  background: #f5f5f5;
  border-radius: 3px;
}


/* DocFx Styles*/
.CAUTION, .IMPORTANT, .INFO, .TIP, .NOTE, .WARNING {
  padding: 0.1px 20px;
  margin: 15px 0;
  border-radius: 4px;
}

.CAUTION > h5, .IMPORTANT > h5, .INFO > h5, .TIP > h5, .NOTE > h5, .WARNING > h5 {
  color: inherit;
}

.CAUTION, .IMPORTANT {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.WARNING {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.INFO, .TIP, .NOTE {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.NOTE h5:before, .TIP h5:before {
  content: "\f05a";
  font-family: FontAwesome;
  padding-right: 6px;
}

.WARNING h5:before, .CAUTION h5:before {
  content: "\f071";
  font-family: FontAwesome;
  padding-right: 6px;
}

.IMPORTANT h5:before {
  content: "\f06a";
  font-family: FontAwesome;
  padding-right: 6px;
}

xref {
  display: block;
}



.hljs {
  font-size: 1em;
}

@media(min-width: 1080px) {
  html, body {
    font-size: 1.06em;
  }
}

@media print {
  pre {
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
  }

    pre > code {
      white-space: pre-wrap;
      padding: 1em !important;
    }
}
