html, body {
    color: #3e433e;    
    font-family:  "Helvetica Neue", Helvetica,  Helvetica, Arial, sans-serif;        
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    
    height: 100%;    
    line-height: 1.5em;
    padding: 5px 20px 5px 10px !important;
    margin: 0;
    scrollbar-track-color: Whitesmoke;
    scrollbar-arrow-color: silver;   
    scrollbar-base-color: #ddd;
    scrollbar-face-color: #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
} 

h1,h2,h3,h4,h5,h6, .byline,.content-title {
  color: #535353;
  font-weight: 600;
  font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
h1 {
    font-size: 1.5em;
    padding-bottom:10px;
    margin-bottom: 15px;
    color: steelblue;
    border-bottom: 1px solid #eee;
}
h2 {
    font-size: 1.35em;
    color: steelblue;
}
h3 {
    font-size: 1.2em;
    color: steelblue;
}
h4 {
    font-size: 1.1em;
}
h5, h6 { 
    font-size: 1em;
}
table {
    margin: 20px 0;    
}
th, td {
    padding: 5px 9px;
    border-bottom: 1px solid #eee;
}
th {
    background: #eee    
}
p {
	margin: 10px 0 10px 0;
}
a {
    font-weight: bold;
}
img {
	max-width: 100%;
}
blockquote {
    background: #f8f8f8;
    font-size: 1.1em;
    padding: 10px;
    margin: 30px 10px;
    border-left: 6px #ddd solid;
}

blockquote h3, blockquote h4, blockquote h5 {
    margin-top: 8px;
}
hr {
    margin: 12px 0;    
}
code {
    color: #555;
    padding: 2px 5px;
    font-weight: bold;
    background: #eee;    
}
pre {
    font-family: menlo,consolas,monospace;
    font-weight: normal;    
    font-size: 1em;
    margin: 7px 0;
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: auto;    
    max-width: 98%;
    white-space:  pre;
    word-break: normal;
    word-wrap: normal;    
}
pre code {
    white-space: pre;    
}


/* hidden display, but still part of document flow */
.hidden {
    display: none;
}
.hidden-nowidth {
    width: 0;    
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

@media(min-width: 970px){
    html,body{
        font-size: 1.09em;
    }
}