/* 
    top level editor configuration
    Ace Editor style overrides
*/
.ace_editor, .ace_editor * {
    letter-spacing: 0 !important;
    background: transparent;
    font-weight: normal;
}
.ace_content {
    padding-top: 0 !important;
    padding-left: 0;    
}    
/*.ace_cursor { 
    border-left: 2px solid !important;
}
.ace_overwrite-cursors .ace_cursor {   
    border-left: none !important;
    border-bottom: 1px solid !important;
}*/
.ace_text-input {
	margin: 0 !important;
}
.ace_strong, .ace_heading {
    font-weight: bold !important;
}
.ace_emphasis {
    font-style: italic;
}

/* Search/Replace Box */
.ace_button {
    color:#eee !important;    
}
.ace_searchbtn_close {
    color: white !important;
}
.ace_searchbtn_close:hover {
    background-color: brown !important;
}
.ace_search.right {    
    background-color: #444;
    border: 1px solid #222;
    color: white;
}
.ace_search {
    font-size: 0.8em;        
    padding: 4px;    
}
.ace_search_field {
    background-color: #333 !important;
    color: white !important;
    border-right: 1px solid #cbcbcb;
    padding-bottom: 0.75em !important;
}
.ace_search_options>span:hover {
    background: #777 !important;
    /*border-radius: 2px;*/
}

.ace_search_options > span:hover {
    background: #777 !important;
    /*border-radius: 2px;*/
}
