/* 
    top level editor configuration
    Ace Editor style overrides
*/
/*.ace_editor, .ace_editor * {
    letter-spacing: 0 !important;    
    font-weight: normal;
}
.ace_content {
    padding-top: 0 !important;
    padding-left: 0;    
}*/    
/*.ace_cursor { 
    border-left: 2px solid !important;
}
.ace_overwrite-cursors .ace_cursor {   
    border-left: none !important;
    border-bottom: 1px solid !important;
}*/
/*.ace_text-input {
	margin: 0 !important;    
}*/
.ace_strong, .ace_heading {
    font-weight: bold !important;
}
.ace_emphasis {
    font-style: italic;
}

span.ace_markup.ace_underline {
  display: inline-block; /* makes it work in IE11 (preview) */
  pointer-events: all;
}
span.ace_markup.ace_underline:hover {
  color: steelblue;
}

.ace_button {
    color:#eee !important;    
}
.ace_searchbtn_close {
    color: white !important;
}
.ace_searchbtn_close:hover {
    background-color: brown !important;
}
.ace_search.right {    
    background-color: #444;
    border: 1px solid #222;
    color: white;
    font-size: 0.7em;
}
.ace_search {   
    padding: 4px;    
}
.ace_search_field {
    background-color: #333 !important;
    color: white !important;
    border-right: 1px solid #cbcbcb;
    padding-bottom: 1px;    
    margin-bottom: 5px;
}
.ace_search_options>span:hover {
    background: #777 !important;    
}

.ace_search_options > span:hover {
    background: #777 !important;    
}

body .ace_scrollbar-h {
  overflow-x: auto;
}

