/* 
    top level editor configuration
    Ace Editor style overrides
*/
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	scrollbar-track-color: #535353;
	scrollbar-arrow-color: silver;
	scrollbar-base-color: #888;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
#Editor {
	height: 100%; 
	width: 100%;
    -webkit-overflow-scrolling: touch;
}		

.ace_editor, .ace_editor * {    
    font-weight: normal;
    letter-spacing: 0 !important;
    background: transparent;           
}
.ace_content {
    padding-top: 0 !important;
    padding-left: 0;                        
}    
.ace_cursor { 
    width: 2px !important;
    height: 1em !important;
}
.ace_text-input {
	margin: 0 !important;
}
.ace_strong {
    font-weight: bold;
}
.ace_emphasis {
    font-style: italic;
}
.ace_heading {
    font-weight: bold;
}

.ace_button {
    color:#eee !important;    
}
.ace_searchbtn_close {
    color: white !important;
}
.ace_searchbtn_close:hover {
    background-color: brown !important;
}
.ace_searchbtn, .ace_replacebtn {
    font-size: 0.7em;
    font-family: 'Segoe UI'
}
.ace_search.right {
    border-radius: 0px 0px 0px 5px;
    border-right: 0 none;
    right: 0;
    padding: 10px;
    background-color: #444;
    border: 1px solid #222;
    color: white;
}
.ace_search {
    border-top: 0 none;
    max-width: 325px;
    overflow: hidden;
    margin: 0;
    padding: 4px;
    padding-right: 6px;
    padding-bottom: 0;
    position: absolute;
    top: 0px;
    z-index: 99;
    white-space: normal;    
}
.ace_search_field {
    background-color: #333 !important;
    color: white !important;
    border-right: 1px solid #cbcbcb;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 22px !important;
    outline: 0;
    padding: 2px 7px 7px 8px !important;
    width: 215px;
    margin: 0;
    font-family: 'Segoe UI';    
}
.ace_searchbtn.next, .ace_searchbtn.prev {
    width: 30px !important;    
}
.ace_search_options>span:hover {
    background: #777 !important;
    border-radius: 2px;
}
.ace_search .ace_searchbtn, .ace_search .ace_replacebtn {
    font-size: 11pt !important;
}
.ace_searchbtn.next, .ace_searchbtn.prev {
    width: 30px !important;
}

.ace_search_options > span {
    font-size: 17pt;
}

.ace_search_options > span:hover {
    background: #777 !important;
    border-radius: 2px;
}

pre{
	margin: 0;
	padding: 0;
	border-radius: 0;
}
pre.no-container {
  padding: 0 !important;  
  margin: 0 !important;   
}
pre>code {
  border-radius: 5px;  
  font-size: 1.1em;  
}
#spellfixes {    
    position: absolute;
    font-family: 'Segoe UI', Arial, sans-serif;    
    font-size: 0.875em;
    width: auto;      
    height: auto;
    color: white;
    border: 1px solid #888;
    background: #444;
    min-width: 150px;
    padding-left: 10px;
    top: 200px;
    left: 10px;    
    z-index: 1000;
    overflow-y: auto;
    border-radius: 3px;
    box-shadow: 6px 6px 12px #383838;
}
#spellfixes>div {    
    min-width: 100px;
    padding: 5px;    
    cursor: pointer;
}
    #spellfixes > div.separator {
        border-bottom: 1px solid #999;
        margin: 2px;        
    }
#spellfixes>div:hover {
    background: #535353;
    color: whitesmoke;
}