<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.17.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.9.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Westwind.Utilities" version="3.0.55" targetFramework="net472" />
  <package id="Westwind.Web" version="2.85.0" targetFramework="net472" />
  <package id="Westwind.Web.Markdown" version="0.2.15" targetFramework="net472" />
</packages>