<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <!-- ON PRODUCTION SERVERS WHERE YOU DON'T NEED LIVE RELOAD LET IIS/WEB SERVER SERVE STATIC FILES -->          
        <add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleText" path="*.txt" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleSvg" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleGif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleWoff" path="*.woff*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />          
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
      </handlers>
      <aspNetCore processPath="dotnet" hostingModel="inprocess" arguments="..\LiveReloadServer\LiveReloadServer.dll" stdoutLogEnabled="false"
        stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNET_ENVIRONMENT" value="Production"/>
          <environmentVariable name="LIVERELOADSERVER_WEBROOT" value="C:\Web Sites\markdownmonster.west-wind.com"/>
          <environmentVariable name="LIVERELOADSERVER_USERAZOR" value="True"/>
          <environmentVariable name="LIVERELOADSERVER_USELIVERELOAD" value="false"/>
          <environmentVariable name="LIVERELOADSERVER_OPENBROWSER" value="false" /> 
          <environmentVariable name="LIVERELOADSERVER_SHOWCONSOLEOUTPUT" value="false" /> 
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_HOST}" pattern="markdownmonster.west-wind.com"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>        
        <rule name="extensionless" stopProcessing="true">
          <match url="(.*)\.aspx$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
         </rule>
      </rules> 
    </rewrite>
  </system.webServer>
</configuration>
