<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.171" targetFramework="net45" />
  <package id="FontAwesome.WPF" version="4.5.0.8" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="Westwind.Utilities" version="2.68" targetFramework="net45" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net452" />
</packages>