<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net462" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.3" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="Westwind.Utilities" version="3.0.25" targetFramework="net462" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net462" />
  <package id="YamlDotNet" version="6.0.0" targetFramework="net462" />
</packages>