<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.203" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.7.1" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="Westwind.Utilities" version="3.0.13" targetFramework="net462" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net452" />
  <package id="YamlDotNet" version="4.2.3" targetFramework="net462" />
</packages>