Thumbs.db
*.obj
*.exe
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.nupkg
ProductionInstall*.xml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages*/
_preview.html

/InstallerFiles/*.iw9
/InstallerFiles/Upload.bat
WebEssentials-Settings.json
InstallerFiles/FilesToInstall/AppData/Html/_preview.json
/MightyMarkdown/Install/Distribution
/MightyMarkdown/Install/Builds
/Install/Builds
.vs
/MarkdownMonster.sln.DotSettings
/Install/Builds/CurrentRelease/MarkdownMonsterSetup.exe
/Install/Distribution
/Install/West Wind Markdown Monster
/Install/Builds/CurrentRelease/MarkdownMonster_Version.xml
/Install/West Wind Markdown Monster.iw9
Output-Build.txt
__README.htm
__Todo.htm
MarkdownMonsterWeb/website.publishproj
MarkdownMonsterWeb/App_Data/PublishProfiles/Markdown Monster Web Site.pubxml
MarkdownMonsterWeb/BugReport/telemetry.txt
MarkdownMonster/Editor/scripts/Ace/theme-twilight - Copy.js
/Install/Chocolatey/push.ps1
*.sln.DotSettings
