<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.197" targetFramework="net462" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.6.16" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="Markdig" version="0.14.9" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="Westwind.Utilities" version="3.0.12" targetFramework="net462" />
</packages>